---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="その他"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Jun 15 2026')}
>
	<p>
		筆者の名前はRHANです。もし今後気が向いたらここに自己紹介を書くかもだけど、多分書きません。
	</p>

	<p>
		連絡先なども、もし必要になったらここに書くことでしょう。
	</p>

	<p>
		、、このページ、要らない気がしてきたなぁ。
	</p>
</Layout>
