---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="その他"
	description="自己紹介やこのサイトの概要、その他必要な情報はここに記載しています。"
	pubDate={new Date('Jun 25 2026')}
>
	<p>
		自己紹介やこのサイトの概要、その他必要な情報はここに記載しています。
	</p>

	<h3>自己紹介</h3>
	<p>
		筆者の名前はRHANです。読み方はラーンですね。出身、年齢、性別その他諸々の情報は秘密です。
		まあ、記事を読んでいただければなんとなく想像がつくかとは思いますが、、
	</p>

	<h3>このサイトの概要</h3>
	<p>
		このサイトは、RHANが運営している個人サイトです。
		テーマは特に定めておらず、筆者が興味を持ったこと、思ったこと、考えたことを適当に書いてはアップしています。
		したがって、「読者のために」「有用なサイトを」なんて高尚な考えは持ち合わせていませんのでご了承くださいね。
		内容はあくまで個人の見解に基づくもので、正確性や完全性を保証するものではありません。
	</p>

	<p>
		このサイトのプライバシーポリシーおよび連絡先については、以下をご確認ください。
	</p>

	<p>
		<a href="/privacy">プライバシーポリシー</a><br />
		<a href="/contact">お問い合わせ</a>
	</p>
</Layout>
