---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="お問い合わせ"
	description="お問い合わせについて"
	pubDate={new Date('Jun 25 2026')}
>
	<p>
		ご連絡は以下のメールアドレスまでお願いします。
	</p>

	<p>
		example@example.com ←未整備！すぐに準備します！
	</p>

	<p>
		返信には時間がかかる場合があります。<br />
		また、内容によっては返信できない場合がありますのでご了承ください。
	</p>
</Layout>
