---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.layout {
				width: 100%;
				margin: 0;
				display: flex;
				justify-content: center;
				gap: 4rem;
				padding-top: 4rem;
				padding-left: 2rem;
				padding-right: 0rem;
			}

			.content {
				width: 720px;
				max-width: 100%;
			}

			.content h1 {
				margin-bottom: 2rem;
			}

			@media (max-width: 900px) {
				.layout {
					flex-direction: column;
				}
			}
		</style>
	</head>

	<body>
		<Header />

		<main class="layout">
			<section class="content">
				<h1>🏠 RHANの書置部屋へようこそ！</h1>

				<p>
					ここは、RHANが思ったことや書きたいことを適当に、誰に宛てるでもなく書いてはアップしているページです。
					一応、火曜と金曜に追加するよう心がけていますが、それより多かったり少なかったりするかもしれない。
				</p>

				<p>
					内容は特に決めていません。物を書くのは初心者なので、ですます調とだ・である調が混じっていたり、一人称が決まっていなかったり
					しますが、多めに見てやってください。そのうち上手くなっていくと思います。
				</p>

				<p>
					このページは、Astroのブログテンプレートを使って作りました。コーディングのコの字も知らないような初心者が、おっかなびっくり
					ページの増改築をしていますので、もし興味があったら見ていってください。
					→ <a href="https://github.com/mini489/blog">GitHubリポジトリ</a>
				</p>

				<p>
					Astroのデフォルト要素があちこちに残っていますが、そのうち消えていくと思います。右サイドバーもそのうち埋めます。将来的には
					カテゴリーや検索機能もつけて、Wordpressで作ったみたいなページにできたらいいな。
				</p>

				<p>
					それでは、もういいやと思った人はブラウザバックで。もう少し読んでやってもいいぞと思った人は
					<a href="https://rhan4.com/blog/">新着一覧</a>へ。よろしくどうぞ！
				</p>
			</section>

			<Sidebar />
		</main>

		<Footer />
	</body>
</html>
